<style>
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
      background-color: green;
      color: #fff;
      font-size: 1.2em;
      font-weight: bolder;
    }
    .icons{
        padding: 1.5em 0 0 0;
    }
</style>
<footer class="footer">
    <div class="icons">
            <!-- ===================footer========================== -->
    <p> All Rights Reserve &#169 Nuhu Bamalli Polytechnic, Zaria 2022.</p>
    </div>
</footer>