<nav class="navbar">
    <!-- ===============Wwrapper================== -->
    <div class="wrapper">
                  <div class="logo">
                      <img src="logo.jpeg" alt="">
                      <h1>NUHU BAMALLI POLYTECHNIC, ZARIA <br><p>ONLINE RESULT CHECKER</p></h1>
                  </div>
                  <nav>
                      <ul>
                          <li><a href="/">Home</a></li>
                          <li><a href="about">About</a></li>
                          <li><a href="/student/login">Student Login</a></li>
                          <li><a href="/teacher/login">Admin</a></li>
                          <li><a href="blog.html">Blog</a></li>
                          <li><a href="contact.html">Contact</a></li>

                      </ul>
                  </nav>
  </div>
</nav>