<a href="/teacher/option" class="btn btn-info" style="margin-top:5px;">Back</a>
<h4>Add Student-Result</h4>
<form method="POST" class="addStu" autocomplete="off">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Name : </label>
    <input type="text" name="name" required class="form-control" id="exampleInputEmail1">
  </div>
  <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Reg No. : </label>
      <input type="text" name="roll" required class="form-control" id="exampleInputEmail1" >
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Intr. to Progr(COM113) : </label>
      <input type="text" name="com113" class="form-control" id="exampleInputEmail1" >
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Desc. Stats(STAT111) : </label>
      <input type="text" name="stat111" class="form-control" id="exampleInputEmail1" >
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Digital Electr.(COM112) : </label>
      <input type="text" name="com112" class="form-control" id="exampleInputEmail1">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Comm. Skills : </label>
      <input type="text" name="comm_skills" class="form-control" id="exampleInputEmail1">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Intro. To Computer : </label>
      <input type="text" name="intro_computer" class="form-control" id="exampleInputEmail1">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Citizenship Edu. : </label>
      <input type="text" name="citizen_edu" class="form-control" id="exampleInputEmail1">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Elementary Probability : </label>
      <input type="text" name="elemt_prob" class="form-control" id="exampleInputEmail1">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Status (pass/fail) : </label>
      <input type="text" name="status" required class="form-control" id="exampleInputEmail1">
    </div>
  <button type="submit" class="btn btn-success">Add</button>
  <a href="/teacher/viewall" class="btn btn-primary">View All</a>
</form>