*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
}
header,.footer{
    width:100%;
    height: 120px;
    background-color: green;
}
.logo{
    display: flex;
    height:120px;
    margin: 0 30px;
}
.logo h1{
padding: 30px 70px;
text-align: center;
font-size: 22px;
color: white;
}

.logo p{
    color: yellow;
}
.logo img{
    position: relative;
    width: 120px;
    height: 120px; 
}
nav{
float: right;
margin: -100px 70px;
}

nav ul li{
    display: inline-block;
    list-style:none ;
    padding: 10px  20px;
}
nav ul li a{  
    text-decoration: none;
    color: white;
}
/* ====================navigation media query=========================== */
@media only screen and (max-width:767px) {
    .logo img{
        width: 80px;
        height: 90px;
        margin: auto  -10px;
    }
    nav ul{
       display: none;
    }
    .logo h1{
      display: none;
        }
}
/* ===========================main-body=========================== */
.main-body{
 width: 100%;
 height: 500px;
 background-image: url(images/comp.jpg);
 background-size: cover;
 background-position:center;
}
.footer{
    height: 30px;
    text-align: center;
    color: white;
    padding: 20px 0;
}

 